<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alaska_x_aceh_x_byuh_androidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alaska_X_ACEH_X_BYUH_AndroidApp"
        tools:targetApi="31">
        <activity
            android:name=".Home.Shelter.SullivanActivity"
            android:theme="@style/statusBar"
            android:exported="false" />
        <activity
            android:name=".Home.Shelter.MickinnelHouseActivity"
            android:theme="@style/statusBar"
            android:exported="false" />
        <activity
            android:name=".Home.Shelter.ComplexCareShelterActivity"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.DowntownHopeCenterActivity"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.GospelRescueMissionShelterActivity"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.BrotherFrancisActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.ClareHouseActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.AwaicActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.AvitorActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.MACKhouseActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.CoordinatedEntryActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Map.LocationListActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Shelter.SullivanArenaWarmingAreaActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.Two_One_OneActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Home.ShelterActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/statusBar" />
        <activity
            android:name=".Splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>